# =========================
# OS & IDE
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.user

# =========================
# Rust (Backend)
# =========================
/backend-services/**/target/
**/*.rs.bk

# =========================
# Python (Protobuf Pipeline)
# =========================
/contracts/.venv/
__pycache__/
*.pyc

# =========================
# .NET / C# (Client APIs)
# =========================
/dot-net-apis/**/obj/
/dot-net-apis/**/bin/
# Explicitly track compiled managed Release DLLs for Unity for version matching
!/dot-net-apis/**/bin/Release/netstandard2.1/*.dll

# =========================
# React / Node (Website)
# =========================
/website/node_modules/
/website/dist/
.env
.env.local